    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font: 14px "Tahoma";
    }
    
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    
    #pageFooter {
        display: none;
    }
    
    .page {
        position: relative;
        width: 210mm;
        min-height: 297mm;
        padding: 10mm;
        margin: 10mm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .text-center{
    text-align:center;
}
.text-right{
text-align:right;
}
.text-left{
text-align:left;
}
    
    .subpage {
        position: relative;
        padding: 0cm;
        /*border: 5px red solid;*/
        height: 267mm;
    }
    
    .pagenum {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
    
    .printpanel {
        width: 210mm;
        padding: 0mm 10mm;
        margin: 0 auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
    }
    
    table.autopage {
        width: 100%;
    }
    
    .small {
        font-size: 12px;
    }
    
    .tbcontent th,
    .tbcontent td {
        font-size: 12px;
    }
    .row{
    position:relative;
}
.row:after{
    display:block;
    content:" ";
    clear:both;
}
.col-50{
    display:block;
    width:50%;
    float:left;
}
.pad-15{
    padding:15px;
}
.gap-bottom{
        margin-bottom:10px;
    }
    .bordered{
        border:1px solid #000;
    }
    table.tbcontent{
        width:100%;
    }
    .table-bordered td,.table-bordered th{
        border:1px solid #000;
    }
    .gap-top-40{
        margin-top:40px;
    }
    .bg-day-0{
        background-color: #FF9999;
    }
    .bg-day-5{
        background-color: #CCFFFF;
    }
    .bg-day-6{
        background-color: #CC99FF;
    }
    @page {
        size: A4;
        margin: 0;
    }
    
    @media print {
        html,
        body {
            width: 210mm;
            height: 297mm;
        }
        .bg-day-0{
            background-color: #FF9999;
        }
        .bg-day-5{
            background-color: #CCFFFF;
        }
        .bg-day-6{
            background-color: #CC99FF;
        }
        .text-center{
    text-align:center;
}
.text-right{
text-align:right;
}
.text-left{
text-align:left;
}
        .subpage {
            position: relative;
            padding: 0cm;
            /*border: 5px red solid;*/
            height: 267mm;
        }
        .page {
            margin: 0;
            max-height: 297mm;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
        .printpanel {
            width: 210mm;
            padding: 5mm 10mm;
            margin: 0 auto;
            border: none;
            display: table;
        }
        #pageFooter {
            display: table-footer-group !important;
        }
        #pageFooter:after {
            counter-increment: page;
            content: counter(page);
        }
        table.autopage {
            page-break-inside: auto;
            width: 100%;
        }
        table.autopage tr {
            page-break-inside: avoid;
            page-break-after: auto;
        }
        table.autopage thead {
            display: table-header-group !important;
        }
        table.autopage tfoot {
            display: table-footer-group !important;
        }
        .tbcontent th,
    .tbcontent td {
        font-size: 12px;
    }
    .row{
    position:relative;
}
.row:after{
    display:block;
    content:" ";
    clear:both;
}
.col-50{
    display:block;
    width:50%;
    float:left;
}
.gap-bottom{
        margin-bottom:10px;
    }
    .pad-15{
    padding:15px;
}
.gap-top-40{
        margin-top:40px;
    }
    }